.cal-buttons {
  text-align: center;
}

.input {
  border-bottom: none;
  border-radius: 0px;
}

.output {
  border-top: none;
  border-radius: 0px;
}

.variables-table {
  width: 100%;
  text-align: center;
  color: white;
}

.variable-div {
  border: 1px solid rgb(228, 224, 224);
  border-radius: 5px;
}

.expression-table {
  width: 100%;
  text-align: center;
  color: white;
}

.expression-div {
  border: 1px solid rgb(228, 224, 224);
  border-radius: 5px;
}

body  {
  background-color: black;
}
